/* Defino la imagen de fondo y la estructura de grid */
body {
  background-image: url("../Photos/Wallpaper/Wallpaper.jpg");
  background-repeat: repeat;
  background-size: 450px;
  display: grid;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  grid-template-columns: auto 1200px auto;
  grid-template-rows: 90px auto 70px;
  min-height: 100vh;
}

/* Defino el grid area y en el body_header defino su estilo */
#Cabecera {
  grid-area: header;
}

/* Defino un área y estilo para la sección principal */
main {
  grid-area: main;
}

/* Defino un área y estilo para el pie de página */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 50px 50px 0 0;
  background: linear-gradient(to top right, #236BAF, #0cc2f9);
}