/* Defino la imagen de fondo y la estructura de grid */

body {
  background-image: url("../Photos/Wallpaper/Wallpaper.jpg");
  background-repeat: repeat;
  background-size: 450px;
  display: grid;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  grid-template-columns: auto 1300px auto;
  
  grid-template-rows: 90px auto 50px;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Defino el grid area y en el body_header defino su estilo */
#Cabecera {
  grid-area: header;
  background-color: white;
}

/* Defino un área y estilo para la sección principal */
main {
  grid-area: main;
  /* overflow: hidden; */
}

/* Defino un área y estilo para el pie de página */
footer {
  min-height: 100%;
  z-index: 30;
  position: relative;  
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white; 
  background: linear-gradient(to top right, #236BAF, #0cc2f9);  
  margin-bottom: -10px; /* Para evitar un espacio en blanco en la parte inferior de la página */  
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px 50px 0 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}