/* El estilo del registro engloba todo lo que estapor debajo de la barra nav del main */
#registros {
    /* transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    z-index: 20;
    width: 1250px;
    height: 1000px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}

/* Estilo del registros que engloba la parte donde se monstrarán 
los registros de la base de datos */
#contenedor {
    /* background-color: aquamarine; */
    margin-left: 25px;
    margin-right: 25px;
    height: 890px;
    border-radius: 40px;
    border: 2px dashed grey;
    box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.8);
    /* display: flex; */
    overflow: hidden;

}

/* Estilo del fondo del registros. Solo colorea una 
franja que esta al fondo para orientar al usuario */
.contenedor_fondo_registro {   
    height: 75px;
    display: flex;
    margin-top: 15px;
    min-width: 100%;
    transition: background-color 0.3s ease;
    justify-content: center;
}
#contenedor_fondo_registro_id{
    transform: translate(0, -200%);
    pointer-Events: none;  
    
}
.contenedor_fondo_registro:hover {
    background-color: rgb(113, 113, 113);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Contenedor donde iria el from */
.contenedor_registro {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(197, 225, 252);
    width: 1100px;
    height: 40px;
    margin: 7px;
    padding: 10px;
    border-radius: 15px;

}

.contenedor_registro form {
    display: flex;
    align-items: center;
}

.contenedor_registro:hover .input {
    border: 2px dashed #646464;
}

.contenedor_registro .input:hover {
    border: 2px dashed #1974a5;
}



/* Estilo de los input */

.contenedor_registro:hover .input {
    border: 2px dashed #646464;
}

.contenedor_registro .input:hover {
    border: 2px dashed #1974a5;
}

/* Estilo de los Iconos */
#contenedor_registro_imagenes {
    display: flex;
}

#contenedor_registro_imagenes img {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}




/* Estilo del boton */

#boton_registro_añadir {
    position: absolute;
    left: 1158px;
    
    width: 15px;
    height: 40px;
    border: none;
    border-radius: 0 13px 13px 0;
    background-color: #0cc2f9;
    color: white;
    font-size: 0px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s, font-size 0.3s;
}

#boton_registro_añadir:hover {
    background-color: #1b4f82;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25px;
    height: 40px;
    font-size: 25px;
}




/* Eliminar los bonotes del input number de chrome y firefox*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* codigo para firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
    -moz-appearance: none;
}