:root {
    --color-B: white;
    --color-1: #0cc2f9;
    --color-2: rgb(35, 107, 175);
  }

  .div-pastel {
    width: 90px;
    height: 90px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }

  .div-pastel:hover {
    box-shadow: inset 0 0 0 4px red;
  }

  /* Colores pasteles */
  .div-pastel:nth-child(1) {
    background-color: #d4b8e6;
  }

  .div-pastel:nth-child(2) {
    background-color: #f5c7c7;
  }

  .div-pastel:nth-child(3) {
    background-color: #ffe6b8;
  }

  .div-pastel:nth-child(4) {
    background-color: #c1e1c1;
  }

  .div-pastel:nth-child(5) {
    background-color: #d2d1e3;
  }

  .div-pastel:nth-child(6) {
    background-color: #e8c4c9;
  }

  .div-pastel:nth-child(7) {
    background-color: #f9dfb3;
  }

  .div-pastel:nth-child(8) {
    background-color: #b3d9d9;
  }

  .div-pastel:nth-child(9) {
    background-color: #e3e1d9;
  }

  .div-pastel:nth-child(10) {
    background-color: #e6c5d5;
  }

  .div-pastel:nth-child(11) {
    background-color: #c9e5c9;
  }

  .div-pastel:nth-child(12) {
    background-color: #d9d7eb;
  }

  .div-pastel:nth-child(13) {
    background-color: #f6c2c2;
  }

  .div-pastel:nth-child(14) {
    background-color: #ffe0a9;
  }

  .div-pastel:nth-child(15) {
    background-color: #a2c8a2;
  }

  .div-pastel:nth-child(16) {
    background-color: #e7e6f2;
  }

  .div-pastel:nth-child(17) {
    background-color: #ef9d9d;
  }

  .div-pastel:nth-child(18) {
    background-color: #fcdb90;
  }

  .div-pastel:nth-child(19) {
    background-color: #9bd6d6;
  }

  .div-pastel:nth-child(20) {
    background-color: #dbdad2;
  }

  .div-pastel:hover {
    filter: brightness(80%);
  }




  img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  #configuracion {
    background-color: var(--color-B);
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px;
    padding-bottom: 50px;
    border-radius: 40px;
    box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 60px;
  }

  #contenedorUsuariosCategoriaSubcategoria {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  #configuracion label {
    line-height: 20px;
    padding-left: 20px;
  }

  .laberDiv {
    display: flex;
    flex-direction: column;
  }

  .usuarioCategoriaSubcategoria {
    /* background-color: violet; */

    width: 350px;
    padding: 10px;
    border: 3px solid gray;
    border-radius: 20px;

  }




  #usuario {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
  }

  #usuarioImg {
    cursor: pointer;
  }

  #usuarioImg:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
  }

  #usuario input {
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px dashed gray;
  }

  #categoria {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) var(--color-2);
  }




  .contendorCategoria {
    display: flex;
    align-items: center;


  }

  .contendorCategoria:hover {
    background-color: rgb(255, 183, 183);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
  }


  .contendorCategoria input {
    padding: 5px;

    background-color: transparent;
    border: 0;
    width: 195px;
    font-size: 14px;
  }

  #subcategoria {
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) var(--color-2);


  }

  .icono {
    border-radius: 10px;
    cursor: pointer;
  }

  .icono:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
  }

  .contenedorBasuraGota {

    border-right: 2px dashed black;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    display: flex;
    /* flex-direction: column; */
    border-radius: 0 10px 10px 0;

    align-items: center;
    gap: 2px;
    padding: 5px;

  }

  .contenedorIconoText {
    display: flex;

    border-radius: 20px 0 0 20px;
    align-items: center;
    gap: 12px;
    /* paddi ng: 12px; */
    margin-left: 6px;
  }

  .gota {
    border: 0;
    border-radius: 80px;
    background-color: transparent;

  }

  .gotaImg {
    background-color: var(--color-1);
    cursor: pointer;
    height: 20px;
    width: 20px;


  }

  .gotaImg:hover {
    background-color: var(--color-2);
  }

  #configuracionContenedor {
    display: flex;
    flex-direction: column;

  }

  .contenedorGeneralConfiguracion {

    top: 400px;
    border: 3px solid gray;
    border-radius: 20px;
    width: 650px;
    height: 375px;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-1) var(--color-2);
  }

  .contenedorImagen {

    cursor: pointer;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 10px;

  }

  .contenedorImagen img {
    width: 70px;
    height: 70px;

  }

  .contenedorImagen:hover {
    box-shadow: inset 0 0 0 4px red;
  }

  #contenedorR {
    border-radius: 20px;
    width: 650px;
    border: 3px solid gray;
    padding: 10px;
    padding-left: 20px;
    height: 300px;
  }

  #tabla table {
    width: 640px;

  }

  #tabla_tarjeta table {
    width: 640px;


  }

  #tabla th,
  td {
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;

    text-align: center;
  }

  #tabla_tarjeta input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: var(--color-1);

    width: 100%;
  }

  #wrapModificar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
  }


  /* Boton ocultar grupo B */
  #bottonGurpo_relative {
    position: relative;
  }

  #bottonGurpoB {
    position: absolute;
    z-index: 99;
    top: 472px;
    border: none;
    left: 560px;
    height: 20px;
    width: 100px;
    line-height: 0;
    border-radius: 10px 10px 0 0px;
    font-size: 12px;
  }

  #bottonGurpoB:hover {
    background-color: var(--color-2);
  }

  .basuraAdaptacion {
    width: 60px;
  }

  /* Cargar imagen */
  .grupo {
    position: relative;
  }

  .positionAbsoluteA {
    position: absolute;
    top: 200px;
    display: none;
    pointer-events: none;

  }

  .positionAbsoluteB {
    position: absolute;
    top: 670px;

  }

  #masImagen_relative {
    position: relative;
  }

  #masImagen {
    display: flex;
    position: absolute;
    z-index: 99;
    top: 422px;

  }

  .imageM {
    position: absolute;
    left: 560px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 0 0 10px;
    color: white;
    transition: background-color 0.2s ease;
    background-color: var(--color-1);
  }

  .imageM:hover {
    background-color: var(--color-2);
  }

  .imageM input[type="file"] {
    display: none;
  }

  .imageM input[type="text"] {
    display: none;
  }

  #basura {
    border: none;
    left: 608px;
    height: 30px;
    width: 40px;
    padding: 5px;
    border-radius: 0 0 10px 0px;

  }

  #basura img {
    height: 20px;
    width: 20px;
  }

  .contenedorTexto {

    height: 35px;
    display: flex;
    justify-content: center;
  }

  .imputInvisible {
    display: none;
  }

  .imputMas {
    width: 60px;
    background-color: var(--color-1);
    cursor: pointer;

  }

  .imputMas:hover {
    background-color: var(--color-2);
  }

  .imputMasText {
    font-size: 40px;
    color: white;
  }

  .ContenedorSubmit {
    border-right: 2px dashed black;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    display: flex;

    border-radius: 0 10px 10px 0;

    align-items: center;

    height: 35px;
    width: 32px;
    background-color: var(--color-1);
    cursor: pointer;
  }

  .ContenedorSubmit:hover {
    background-color: var(--color-2);
  }

  .adpatacionGota {
    border-radius: 0 0 0 0;
  }